.pageContainer {
  margin: 0 auto 30px auto;
  width: 100%;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    margin: 17px 0 20px 0;
    gap: 50px;
  }
}

.title {
  font-weight: bold;
  font-size: 26px;
  color: #453e29;
}

.backBtn {
  padding: 10px 18px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #293045;
  color: #293045;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-width: 100px;

  &:hover {
    background-color: #ddeaf6;
    border: 1px solid #949cb7;
  }
}

.loanForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 80px;

  .loanTitle {
    font-size: 20px;
    font-weight: bold;
    color: #283044;
    margin-bottom: 10px;
    margin-top: 0;
  }

  label {
    font-weight: bold;
    font-size: 16px;
    color: #283044;
  }

  input,
  select {
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #9c9c9c;
  }

  button {
    margin-top: 15px;
    padding: 10px 60px;
    font-size: 16px;
    background-color: #695b2d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    min-width: 100px;
    align-self: center;

    &:hover {
      background-color: rgb(79, 67, 29);
    }
  }
}

hr {
  margin: 30px 100px;
  border: none;
  border-top: 1px solid #c4cad0;
}

.loanedContainer {
  padding: 0 80px;
}

.loanedTitle {
  font-weight: bold;
  font-size: 20px;
  color: #283044;
  margin-bottom: 30px;
}

.bookList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bookItem {
  border-radius: 8px;
  border: 1px solid #d2c6bf;
  padding: 16px 60px;
  background-color: #f3f2f0;

  p {
    font-size: 16px;
    margin: 10px 0;
  }
}

.noBooksMessage {
  padding: 0 150px;
  font-size: 20px;
  color: #90481b;
  text-align: center;
}

.noLoansMessage {
  font-size: 20px;
  color: #90481b;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}
